.profile__overlay-img {
  background-image: url(../../../images/pencilProfile.svg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 120px;
  height: 120px;
}
