.elements {
  padding-top: 51px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width:1023px) {
  .elements {
    padding-top: 30px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:649px) {
  .elements {
    max-width: 282px;
    padding-top: 36px;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
