.popup__button-close {
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width:767px) {
  .popup__button-close {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width:500px) {
  .popup__button-close {
    background-image: url(../../../images/CloseIcon-2.svg);
    width: 20px;
    height: 20px;
    right: 0;
  }
}
